



<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/res/style.css">
    <link rel="shortcut icon" href="/favicon.png"/>

    <title>MineOnline</title>

    {% if sessionIdInvalid %}
    <script>
      document.cookie = ""
    </script>
    {% endif %}
  </head>
  <body style="max-width: 60em; margin-left: auto; margin-right: auto;">
    <header>
      <img src="/img/mineonlinelogo.png" alt="MineOnline" width="50%" />
      <!-- <h1>MineOnline</h1> -->
      <h2>Minecraft API Reimplementation</h2>
      
      <span style="display: inline-flex;">
        <a href="/" id="menu_" class="menuItem">Home</a>
        &nbsp; &nbsp; <a href="/profile/" id="menu_profile" class="menuItem">Profile</a>
        &nbsp; &nbsp; <a href="/servers.jsp">Server List</a><br>
        &nbsp; &nbsp; <a href="/api.jsp">API</a><br>
      </span>


      <span style="float: right;">
        {% if user %}
            Logged in as {{user.user}} | <a href="/logout.jsp" class="loginpanel">Log out</a>
        {% else %}
            <a href="/login.jsp" class="loginpanel">Log in</a> | <a href="/register.jsp" class="loginpanel">Register</a>
        {% endif %}
      </span>
    </header>

    <br/>
    <br/>

    <div id="content">
      {% block content %}{% endblock %}
    </div>

    <br/>
    <br/>

    <footer style="position: static; margin-bottom: 5em;font-size: 0.8em;">
      <hr/>
      Made by Codie: <a href="https://discord.codie.gg/">Discord</a>, <a href="https://codie.gg/">Homepage</a>. © 2020 Alex Newark
      <br/>
      <br/>
      <a href="http://github.com/codieradical"><img class="bulletImg" src="https://codie.gg/img/social/GitHub.svg"></a>
      <a href="https://www.youtube.com/channel/UC1roe7lSEOq7VDGYtN2II4w"><img class="bulletImg" src="https://codie.gg/img/social/YouTube.svg"></a>
      <a href="https://twitter.com/codieradical"><img class="bulletImg" src="https://codie.gg/img/social/Twitter_BW.svg"></a>
      <a href="https://www.twitch.tv/codieradical"><img class="bulletImg" src="https://codie.gg/img/social/Twitch.svg"></a>
      <a href="https://codie.bandcamp.com"><img class="bulletImg" src="https://codie.gg/img/social/Bandcamp_BW.svg"></a>
      <a href="https://soundcloud.com/codieradical"><img class="bulletImg" src="https://codie.gg/img/social/Soundcloud_BW.svg"></a>
      <a href="https://www.deviantart.com/codieradical"><img class="bulletImg" src="https://codie.gg/img/social/DeviantArt_BW.svg"></a>
    </footer>
  </body>
</html>