{% extends "base.html" %}

{% block content %}
<div class="oneColeDiv">

<h1>Credits</h1>

<b>Minecraft is developed by:</b><br>
Game design, programming, graphics: <a href="http://www.mojang.com/notch/">Markus Persson</a> ("Notch")<br>
Music and sounds: <a href="http://c418.org/">Daniel Rosenfeld</a> ("C418")<br>
Ingame artwork: <a href="http://zetterstrand.com/">Kristoffer Zetterstrand</a><br>
Additional programming: <a href="http://peripheralarbor.com/">Paul Spooner</a><br>
<br>
Minecraft uses sounds from the Freesound project.<br>
For a list of samples currently or previously in use, see <a href="http://www.freesound.org/usersAttribution.php?id=1045860&amp;format=html">this list</a>, and <a href="http://www.freesound.org/usersAttribution.php?id=584268">this one</a>.
<br/>
<p>
<b>Minecraft uses the following technologies:</b><br>
<a href="http://www.java.com/">Java</a> by <a href="http://www.sun.com/">Sun Microsystems</a><br>
<a href="http://www.lwjgl.org/">LWJGL</a> (<a href="lwjgl_license">license</a>) by <a href="http://www.lwjgl.org/credits.php">a whole bunch of talented people</a>.<br>
<a href="http://www.paulscode.com/forum/index.php?topic=4.0">"3d Sound System"</a> by <a href="http://www.paulscode.com/">Paul Lamb</a><br>
<a href="http://www.jcraft.com/jorbis/">JOrbis</a> (<a href="lgpl-3_0.txt">license</a>) by <a href="http://www.jcraft.com/">JCraft</a>.<br>

</div>
{% endblock %}