{% extends "base.html" %}

{% block content %}
<div class="oneColeDiv" style="width:800px;">


  <table>
  <tr>
  <td style="width:800px;">

  <h1>About the game</h1>
  Minecraft is developed by Markus Persson. It's been under development since about May 10, 2009.
  <p>You can read the <a href="credits.jsp">full credits here</a>, or read about <a href="support/">support and frequently asked questions here</a>.
  <br/><br/>

  <h3>Origins</h3> 
  I started Minecraft after playing some Infiniminer with a couple of people from TigSource.
  I realized that a game that simple yet that dynamic had a lot of potential to turn into a really great
  game, and kept coming up with things I wanted to change and stuff I wanted to add.<br><br>
  I had recently quit my job as a game developer to be able to focus more on indie game dev during
  my free time, and I was looking for a new game to develop. I had a few ideas floating around, but
  most required really long development times.
  <p>These two factors led to Minecraft.

  <h3>Development and philosophy</h3>
  Waterfall is dead, long live agile!
  <p>I've got a few plans and visions, but my only true design decision is to keep it fun and accessible.
  There's no design doc, but there are two lists; one for bugs, and one for features I want to add
  but think I might forget.<br>
  I make sure to play the game a lot, and I've built my share of towers, and flooded my share of caves.
  If something ever doesn't feel fun, I'll remove it. I believe that I can combine enough fun, accessibility
  and building blocks for this game to be a huge melting pot of emergent gameplay.
  <p>I strongly believe that all good stories have a conflict, and that all good games tell a good story
  regardless of if it's pre-written or emergent. Free building mode is fine and dandy, but for many people
  it will ultimately become boring once you've got it figured out. It's like playing a first person shooter
  in god mode, or giving yourself infinite funds in a strategy game.. a lack of challenge kills the fun.<br>
  For survival mode, I'd rather make the game too difficult than too easy. That also means I'm going to have
  to include some way of winning the game (or some other climax) to prevent it becoming too exhausting.
  <p>But if it's no fun, I'll redesign.

  <h3>The future</h3>
  I plan on developing Minecraft until it's a finished complete game, with a downloadable client
  (with fullscreen mode), custom key re mappings and possibly modding support.
  <p>For as long as people enjoy and purchase the game, I will develop extensions after the game is
  done.
  <p>Once sales start dying and a minimum time has passed, I will release the game source code as
  some kind of open source. I'm not very happy with the draconian nature of (L)GPL, nor do I believe
  the other licenses have much merit other than to boost the egos of the original authors, so I might
  just possibly release it all as public domain. 

  </div>
  </td>



  <td style="width:300px; vertical-align:text-top;">
          
                
          
            <div class="infoBox" style="width:250px; height:130px; margin-top: 70px; margin-left: 80px;padding-top:5px;">
              <br/>
              <b>Are you one of the few who still haven't bought Minecraft?</b> <br/><br/>
              <a href="prepurchase.jsp"><img class="linkButton" src="res/buy_now.png" width="212" height="44"/></a>
              
              </div>
              
              
          
          </td>	

  </tr>
  </table>



 </div>


<br>
{% endblock %}