{% extends "base.html" %}

{% block content %}
<section class="left">
    <h1>Community</h1>
    <p>
        Here are some nice active community resources for discussing Minecraft. Please note that all of these are third-party and aren't hosted by us. We link them because they're great.
    </p>
    <h2>Official Resources</h2>
    <ul>
        <li><a href="http://notch.tumblr.com/">The Word of Notch</a> - The one and only blog for Minecraft fans</li>
        <li><a href="http://twitter.com/#!/notch">@Notch</a> - Follow notch's ramblings on twitter</li>
        <li><a href="http://www.facebook.com/minecraft">Facebook</a> - Join our community on Facebook</li>
        <li><a href="http://getsatisfaction.com/mojang">Get satisfaction</a> - Give some feedback, make your voice heard.</li>
        <li><a href="http://www.minecraftforum.net/index.php">Minecraft forums</a> - Official forums, Notch reads these</li>
        <li><a href="http://www.minecraftwiki.net/wiki/Minecraft_Wiki">Minecraft wiki</a> - Comprehensive community run Wiki</li>
    </ul>
    <h2>IRC</h2>
    <p>
        esper.net and other IRC networks aren't affiliated with Minecraft or Mojang, so their staff can't help with support for our game. Ask inside the channels (preferably #MineCraftHelp) for that.
    </p>
    <ul>
        <li><a href="irc://irc.esper.net/minecraft/">#minecraft on irc.esper.net</a> - Official IRC channel, run by Notch. (channel rules)</li>
        <li><a href="irc://irc.esper.net/MineCraftHelp/">#MineCraftHelp on irc.esper.net</a> - Help and support from community members.</li>
        <li><a href="irc://irc.esper.net/mcchatter/">#mcchatter on irc.esper.net</a> - For general community chatter. (channel rules)</li>
    </ul>
    <h2>Forums and Communities</h2>
    <ul>
        <li><a href="http://www.formspring.me/MojangSupport">MojangSupport</a> - Unofficial support by Tom Costello</li>
        <li><a href="http://www.minecraftopia.com/">Minecraftopia</a> - Great (and good looking!) resource</li>
        <li><a href="http://steamcommunity.com/groups/MinecraftCommunity">Minecraft Community on Steam</a> - Over 1000 members!</li>
        <li><a href="http://www.reddit.com/r/Minecraft">Minecraft on Reddit</a></li>
        <li><a href="http://crafthub.net/">CraftHub</a></li>
        <li><a href="http://www.worldofminecraft.com/">World of Minecraft</a></li>
        <li><a href="http://www.moddb.com/games/minecraft/">Minecraft on Mod DB</a></li>
        <li><a href="http://minecrafting.ru/">Minecrafting.ru</a> - A Russian forum</li>
        <li><a href="http://minecraft-esp.com/">Minecraft forum</a> - A Spanish forum</li>
        <li><a href="http://minecraftwb.com/">Minecraft Workbench</a> - Texture packs, mods and skins</li>
        <li><a href="http://mojangcommunity.net/">Mojang Community</a> - A fan-made community for all Mojang's games</li>
        <li><a href="http://minecraft.fr/">Minecraft.fr</a> - A French Minecraft site, potato cubes!</li>
        <li><a href="http://minecraftfr.com/">Minecraftfr.com</a> - Another French Minecraft community.</li>
        <li><a href="http://www.minecraft-france.fr/">Minecraft-France</a> - French Minecraft community.</li>
        <li><a href="http://www.minecraftforum.nl/">Nederlands Minecraft forum</a> - Dutch Minecraft community.</li>
    </ul>
    <h2>Galleries</h2>
    <ul>
        <li><a href="http://minecraftmuseum.net/">The Minecraft Museum</a></li>
    </ul>
    <h2>Indie Game Development</h2>
    <p>
        Want to make your own game? Want to see what games other people are making?
    </p>
    <ul>
        <li><a href="http://www.tigsource.com/">TIGSource</a> - Lots of talent! Minecraft originated here.</li>
        <li><a href="http://www.javagaming.org/">JavaGaming.org</a> - Other java game developers. Neglected after Oracle took over.</li>
        <li><a href="http://indiegames.com/">Indie Games</a> - The blog is awesome, and so is the podcast.</li>
        <li><a href="http://ludumdare.com/">Ludum Dare</a> - A 48 hour game development competition.</li>
    </ul>
    <p>
        Here are some of my friends also making games, I probably forgot a bunch&hellip;
    </p>
    <ul>
        <li><a href="http://www.rocten.com/">Project Brutal dev blog</a> - Hell of a nice guy, who I used to work with.</li>
        <li><a href="http://www.increpare.com/">increpare games</a> - One of the smartest people I've met.</li>
        <li><a href="http://www.devm-games.com/">DEVM-Games</a> - Another talented coder I used to work with.</li>
        <li><a href="http://www.wurmonline.com/">Wurm Online</a> - I don't see Rolf as often as I'd like.</li>
        <li><a href="http://www.distractionware.com/">distractionware</a> - One of my idols, made VVVVVV.</li>
    </ul>
</section>
{% endblock %}