{% extends "base.html" %}

{% block content %}
<div class="oneColeDiv">

<h1>Terms of Use</h1>

<h3>What You Get For Purchasing</h3>
<p>
  When you purchase Minecraft you do so as is, be it in the early stages of development or already fully released. Subsequent updates are only an added bonus and not a guarantee, as icing on a cake. Purchases during the development of the game are discounted and include the full game upon release.
</p>
<p>
  As we at Mojang strive towards releasing updates for our projects we cannot guarantee that any project will ever be completed and/or provided support for. There's always the risk of a project being discontinued at any time.
</p>

<h3>The One Major Rule</h3>
<p>
Do not distribute anything we've made. This includes, but not limited to, the client or the server software for the game.
This also includes modified versions of anything we've made.
</p>
<p>
  In order to maintain control of the project, we need all game downloads to come from a single central source: us. We hope you understand. It's also important for us that 3rd party tools/services don't seem "too official" as we can't guarantee their quality. If you wish to make something pertaining to anything we've made we're humbled, but please make sure that it can't be interpreted as being official.
</p>

<h3>What You Can Do</h3>
<p>
If you've bought the game, you may play around with it and modify it. We'd appreciate it if you didn't use this for griefing, though, and remember not to distribute the changes.
</p>
<p>
Any tools you write for the game from scratch belongs to you.
You're free to do whatever you want with screenshots and videos of the game, but don't just rip art resources and pass them around, that's no fun.
Plugins for the game also belong to you and you can do whatever you want with them, including selling them for money. We reserve the final say regarding what constitutes a tool/plugin and what doesn't.
</p>

<h3>Other</h3>
<p>
  We reserve the right to change this agreement at any time with or without notice, with immediate and/or retroactive effect.
</p>
<p>
Any suggestions made are assumed to be offered for free unless otherwise agreed before the suggestion was made.
We're not going to put up a huge EULA.
We're trying to be open and honest, and we hope people treat us the same way back.<br><br>
If there's anything legal you're wondering about that isn't answered from this page, don't do it and ask us about it. Basically, don't be ridiculous and we won't.<br>
<p>/ Markus Persson and friends</p>
<br>
<h1>Privacy Policy</h1>
<p>
When you purchase a game from us, you fill in your personal/company details. You agree that we store and use your information in our organization to complete the agreement towards you. You have the right, according to the law Personuppgiftslagen (PUL) in Sweden to know about the information registered about you. If it is wrong, insufficient or irrelevant you have the right to make sure that it gets corrected or removed.
</p>
<h3>Company Information</h3>
<p>
  <strong>Mojang AB</strong><br/>
  &Aring;s&ouml;gatan 140<br/>
  116 24, Stockholm<br/>
  Sweden<br/>
  Organization number: 556819-2388<br/>
</p>

 </div>
{% endblock %}