{% extends "base.html" %}

{% block content %}
 <div class="oneColeDiv">
  <h2>Forgot Password or Username</h2>
  
  
  <p>If you forgot your password or your username, enter your username or email address here, and we will send an email to you with further instructions.<br>
    If you're still having trouble accessing your account, send me a message on <a href="https://discord.gg/RBKKnxf">Discord</a>.</p>
  <form name="input" action="forgotpass" method="post">
    <table>
      <tr><td>Username:</td><td><input type="text" name="username"/></td></tr>
      <tr><td><i>or</i> Email:</td><td><input type="text" name="email"/></td></tr>
      <tr>
        {% if success %}
          <p style="color: green">{{success}}</p>
        {% endif %}
      </tr>
      <tr><td></td><td><input type="submit" value="Send email!"/></td></tr>
    </table>
    <br>
  </form>
  

</div>
{% endblock %}