{% extends "base.html" %}

{% block content %}
<table style="margin-top:8px;margin-left:5px;">
  <tr>
    <td style="width:500px;">
      <br/>
      <h1>Help is at hand!</h1>
      <h2>Looking for Account Support?</h2>
      <p>
        Tino the Intern has made a really swell <a href="support/">support page</a> which should be able to help with almost anything!
      </p>
      <h2>Community Made Tutorials</h2>
      <p>
        The tutorials below are made by people from our lovely community. They will get you going in no-time. If you're still clueless, you can try the <a href="support/">FAQ</a> or one of the <a href="community.jsp">community resources</a>.
      </p>



      <h3>How to survive your first night</h3>
      <div class="videoEmbed">
        <object width="640" height="385"><param name="movie" value="https://www.youtube.com/v/7MqkEZn8pN4?fs=1&amp;hl=sv_SE"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="https://www.youtube.com/v/7MqkEZn8pN4?fs=1&amp;hl=sv_SE" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object></div>
      <span class="smallText">
        Check out this beginners tutorial to Minecraft made by <a href="https://www.youtube.com/user/paulsoaresjr" target="_blank">paulsoaresjr</a>. In his own words:<br/><br/>


        "This tutorial demonstrates what to do in the first few minutes of the game (while the sun is shining!) so that you can survive the coming night." </span>



    </td>
    <td style="width:300px; vertical-align:text-top;">

      

      <div class="infoBox" style="width:250px; height:130px; margin-top: 70px; margin-left: 80px;padding-top:5px;">
        <br/>
        <b>Are you one of the few who still haven't bought Minecraft?</b> <br/><br/>
        <a href="prepurchase.jsp"><img class="linkButton" src="res/buy_now.png" width="212" height="44"/></a>

      </div>
      


    </td>
  </tr>


</table>


<h2>The basics</h2>
<h3>Part 01: Controls/Options</h3>
<div class="videoEmbed">
  <object width="640" height="385"><param name="movie" value="https://www.youtube.com/v/Fh5WHRKkq0k?fs=1&amp;hl=sv_SE&amp;color1=0x3a3a3a&amp;color2=0x999999"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="https://www.youtube.com/v/Fh5WHRKkq0k?fs=1&amp;hl=sv_SE&amp;color1=0x3a3a3a&amp;color2=0x999999" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object>
</div>
<h3>Part 02: How to Punch Trees</h3>
<div class="videoEmbed">
  <object width="640" height="385"><param name="movie" value="https://www.youtube.com/v/69Lpzrz2fNM?fs=1&amp;hl=sv_SE&amp;color1=0x3a3a3a&amp;color2=0x999999"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="https://www.youtube.com/v/69Lpzrz2fNM?fs=1&amp;hl=sv_SE&amp;color1=0x3a3a3a&amp;color2=0x999999" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object>  </div>

<h3>Part 03: Crafting Basics</h3>  <div class="videoEmbed">
  <object width="640" height="385"><param name="movie" value="https://www.youtube.com/v/qkP19BVYNVI?fs=1&amp;hl=sv_SE&amp;color1=0x3a3a3a&amp;color2=0x999999"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="https://www.youtube.com/v/qkP19BVYNVI?fs=1&amp;hl=sv_SE&amp;color1=0x3a3a3a&amp;color2=0x999999" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object></div>


<h3>Part 04: How to Use a Pick</h3><div class="videoEmbed">
  <object width="640" height="385"><param name="movie" value="https://www.youtube.com/v/tG14R7eSS6s?fs=1&amp;hl=sv_SE&amp;color1=0x3a3a3a&amp;color2=0x999999"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="https://www.youtube.com/v/tG14R7eSS6s?fs=1&amp;hl=sv_SE&amp;color1=0x3a3a3a&amp;color2=0x999999" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object>
</div>
<br/>
<span class="smallText"> Thanks to <a href="http://www.youtube.com/user/Coestar" target="_blank">Coestar</a> for videos above! </span>
{% endblock %}