{% extends "base.html" %}

{% block content %}

{% if jwt %}
<script>
function addDays(date, days) {
  var result = new Date(date);
  result.setDate(result.getDate() + days);
  return result;
}

document.cookie = "jwt={{jwt}}; path=/"
window.location.href = '/';
</script>
{% endif %}

<div class="oneColeDiv">
  <h1>Login</h1>

  <br/>
  
    
    <form name="input" action="/login" method="post">
      
      <table>
        <tr>
          {% if error %}
            <p style="color: red">{{error}}</p>
          {% endif %}
        </tr>
        <tr>
          <td>Username:</td>
          <td><input type="text" name="username" value=""/></td>
        </tr>
        <tr>
          <td>Password:</td>
          <td><input type="password" name="password"/></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="Log in!"/></td>
        </tr>
      </table>
      <br>
      <a href="register">Register an account</a><br>
      <a href="forgotpass">Forgot password or username?</a>
      
      <input type="hidden" name="use_secure" value="false"/>
      
    </form>
</div>

{% endblock %}