{% extends "base.html" %}

{% block content %}
<div class="oneColeDiv">

<form name="input" action="redeem.jsp" method="post">
<h2>Redeem a gift coupon!</h2>

{% if error %}
<p style="color: red">{{error}}</p>
{% endif %}

{% if session and user.premium %}
<p>You already own minecraft!</p>
{% elif user %}
<p>Yay! You have a gift code for Minecraft? Good for you.<br/>
Just enter the code into the field below <b>exactly</b> as it is, and you'll be up and punching trees in no time.</p>
<h2>Enter your code below.</h2>
<form method="POST" action="redeem">
    <input name="code" id="code"/>
    <button type="submit" name="redeem" id="redeem">Redeem</button>
</form>
{% else %}
<p>Please login to your account first.</p>
{% endif %}

</form>
</div>
{% endblock %}