{% extends "base.html" %}

{% block content %}

{% if sessionId %}
<script>
function addDays(date, days) {
  var result = new Date(date);
  result.setDate(result.getDate() + days);
  return result;
}

document.cookie = "sessionId={{sessionId}}; path=/"
window.location.href = '/';
</script>
{% endif %}

<div class="oneColeDiv">
  <form name="input" action="register" method="post">
    
    <h1>Register a new account</h1><br/>
    
    <table>
      <tr>
        <td>Username:</td>
        <td><input type="text" name="username" value=""/></td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><input type="password" name="password1"/></td>
      </tr>
      <tr>
        <td>Password again:</td>
        <td><input type="password" name="password2"/></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><input type="text" name="email" value=""/></td>
      </tr>
      <tr>
        {% if error %}
          <p style="color: red">{{error}}</p>
        {% endif %}
      </tr>
      <tr>

        
        <td colspan="2"><p>And finally click here: <input type="submit" value="Register"/> (This could take a while, the server is slow)</td>
            
      </tr>
    </table>
  </form>

</div>
{% endblock %}