{% extends "base.html" %}

{% block content %}
<div class="oneColeDiv">


<br/>
{% if not user %}
<font color="#ff0000">You need to log in to join multiplayer games.</font>
{% endif %}

<h2>Public servers</h2>
<p>
List was updated {{timeString}}.<br/><br/>
Login to view the IP address and port.
</p>
<br>

{% if serverCount < 1 %}
	<p>There are currently no servers online.</p>
{% else %}
	<hr/>
	{% for server in servers %}
		{% if user %}
			<u><b>{{server['name']}}</b> {{server['users']}}/{{server['maxUsers']}}</u><br/><br/>
			<span>IP: <b>{{server['ip']}}</b><br/>Port: <b>{{server['port']}}</b></span>
		{% else %}
			<b>{{server['name']}}</b> {{server['users']}}/{{server['maxUsers']}}
		{% endif %}
		<hr/>
		<br/>
	{% endfor %}
	<br/><br/>There are {{usersCount}} players playing on {{serverCount}} servers ({{privateCount}} of them private).
{% endif %}
<br/>
</div>
{% endblock %}