{% extends "base.html" %}

{% block content %}
<div class="oneColeDiv">


<br/>

<h2>Public servers</h2>
<p>
List was updated {{timeString}}.<br/><br/>
</p>
<br>

<!--
	Status Types

	WHITELISTED
	ON_THE_WHITELIST
	BANNED
	OFFLINEMODE
	NOT_ON_THE_WHITELIST
	NONE
 -->

{% if serverCount < 1 %}
	<p>There are currently no servers online.</p>
{% else %}
	{% for server in servers %}
		{% if 'md5' in server %}
			<hr/>
			{% if 'isMineOnline' in server and server['isMineOnline'] == False %}
				<b>{{server['name']}}</b> - {{server['versionName'] or "Unknown Version"}} - Featured Server
			{% else %}
				<b>{{server['name']}}</b> - {{server['versionName'] or "Unknown Version"}} - {{server['users']}}/{{server['maxUsers']}}
			{% endif %}

			{% if server["status"] == "OFFLINEMODE" %}
			<span style="color: #AA0000">Offline Mode</span><br/>
			{% elif server["status"] == "WHITELISTED" %}
			<span>Whitelisted</span><br/>
			{% elif server["status"] == "ON_THE_WHITELIST" %}
			<span style="color: #00AA00">Whitelisted</span><br/>
			{% elif server["status"] == "NOT_ON_THE_WHITELIST" %}
			<span style="color: #AA0000">You're not Whitelisted</span><br/>
			{% elif server["status"] == "BANNED" %}
			<span style="color: #AA0000">Banned</span><br/>
			{% else %}
			<br/>
			{% endif %}

			{% if 'players' in server and server['players'] |length > 0 %}
 			<span>Players: 
				{% for player in server['players'] %}
					{% if server['playerUUIDs'][loop.index] != None %}
						<img class="playerHead" onerror="this.src = '/char-head.png'" src="/mineonline/player/{{server['playerUUIDs'][loop.index - 1]}}/skin/head">
					{% else %}
						<img class="playerHead" src="/char-head.png">
					{% endif %}
					{{player}}
				{% endfor %}
			</span>
			<br/>
			{% endif %}
			{% if server['ip'] %}
			<span>
				IP: <b>{{server['ip']}}{% if server['port'] != "25565" %}:{{server['port']}}{% endif %}</b>
				<br/>
			</span>
			{% endif %}
		{% endif %}
	{% endfor %}
	<br/><br/>
{% endif %}
<br/>
</div>
{% endblock %}