{% extends "base.html" %}

{% block content %}
<div class="oneColeDiv">


<br/>

<h2>Public servers</h2>
<p>
List was updated {{timeString}}.<br/><br/>
</p>
<br>

{% if serverCount < 1 %}
	<p>There are currently no servers online.</p>
{% else %}
	{% for server in servers %}
		{% if 'md5' in server %}
			<hr/>
			{% if 'isMineOnline' in server and server['isMineOnline'] == False %}
				<b>{{server['name']}}</b> - {{server['versionName'] or "Unknown Version"}} - Featured Server<br/><br/>
			{% else %}
				<b>{{server['name']}}</b> - {{server['versionName'] or "Unknown Version"}} - {{server['users']}}/{{server['maxUsers']}}<br/><br/>
			{% endif %}

			<!-- <span>Players: <b>{{server['users']}}/{{server['maxUsers']}}</b></span><br/> -->
			<span>IP: <b>{{server['ip']}}</b>
				{% if server['onlinemode'] == "false" %} 
				<span><font color="#ff0000">Offline Mode</font></span>
				{% endif %}
				<br/>
				Port: <b>{{server['port']}}</b></span>
		{% endif %}
	{% endfor %}
	<br/><br/>
{% endif %}
<br/>
</div>
{% endblock %}