{% extends "base.html" %}

{% block content %}
<div class="oneColeDiv">
  <form name="input" action="changepass" method="post">
    
    <h1>Change your password</h1><br/>
    
    <table>
      {% if args and args["token"] %}
        <input type="text" name="token" hidden="true" value="{{args["token"]}}"/></td>
      {% elif token %}
        <input type="text" name="token" hidden="true" value="{{token}}"/></td>
      {% else %}
        <tr>
            <td>Current Password:</td>
            <td><input type="password" name="currentPassword" value=""/></td>
        </tr>
      {% endif %}
      <tr>
        <td>New Password:</td>
        <td><input type="password" name="password1"/></td>
      </tr>
      <tr>
        <td>New Password again:</td>
        <td><input type="password" name="password2"/></td>
      </tr>
      <tr>
        {% if error %}
          <p style="color: red">{{error}}</p>
        {% endif %}
      </tr>
      <tr>
        <td colspan="2"><p><input type="submit" value="Submit"/></td>
      </tr>
    </table>
  </form>

</div>
{% endblock %}