{% extends "base.html" %}

{% block content %}

<div class="oneColeDiv">
  <h1>Profile</h1>
  <p>Player name: {{user.user}}</p>
  <p>E-mail: {{user.email}}</p>
  <a href="/changepass.jsp">Click here to change your password.</a>
  <form action="/profile/" method="post" enctype="multipart/form-data">
    <h2>Worlds</h2>
    <p>Classic worlds will appear here, and you can download them.</p>
    <ol>
      <li>
        {% if "0" in user.maps %}
        <a href="/player/{{user.uuid}}/world/1">{{user.maps["0"].name}}</a> - {{'%0.2f' % (user.maps["0"].length * 0.001)|float}} KB - <a style="color: darkred;" href="/player/{{user.uuid}}/world/1/delete">Delete</a></li>
        {% else %}
        <input type="file" id="world1" name="world1">
        {% endif %}
      </li>
      <li>
        {% if "1" in user.maps %}
        <a href="/player/{{user.uuid}}/world/2">{{user.maps["1"].name}}</a> - {{'%0.2f' % (user.maps["1"].length * 0.001)|float}} KB - <a style="color: darkred;" href="/player/{{user.uuid}}/world/2/delete">Delete</a></li>
        {% else %}
        <input type="file" id="world2" name="world2">
        {% endif %}
      </li>
      <li>
        {% if "2" in user.maps %}
        <a href="/player/{{user.uuid}}/world/3">{{user.maps["2"].name}}</a> - {{'%0.2f' % (user.maps["2"].length * 0.001)|float}} KB - <a style="color: darkred;" href="/player/{{user.uuid}}/world/3/delete">Delete</a></li>
        {% else %}
        <input type="file" id="world3" name="world3">
        {% endif %}
      </li>
      <li>
        {% if "3" in user.maps %}
        <a href="/player/{{user.uuid}}/world/4">{{user.maps["3"].name}}</a> - {{'%0.2f' % (user.maps["3"].length * 0.001)|float}} KB - <a style="color: darkred;" href="/player/{{user.uuid}}/world/4/delete">Delete</a></li>
        {% else %}
        <input type="file" id="world4" name="world4">
        {% endif %}
      </li>
      <li>
        {% if "4" in user.maps %}
        <a href="/player/{{user.uuid}}/world/5">{{user.maps["4"].name}}</a> - {{'%0.2f' % (user.maps["4"].length * 0.001)|float}} KB - <a style="color: darkred;" href="/player/{{user.uuid}}/world/5/delete">Delete</a></li>
        {% else %}
        <input type="file" id="world5" name="world5">
        {% endif %}   
      </li>
    </ol>
    <button>Submit</button>
    <h2>Change Your Skin</h2>
    <p>Start by <a href="/char.png">downloading the reference skin</a>.</p>
    <img src="/char.png" style="float:left" />
    <p>Edit in your favorite image editing tool and save it as a png image. Make sure you keep the same image dimensions as the original.</p>
    <p>When you're happy with the changes, upload the new image here:</p>
    {% if error %}
      <p style="color: red">{{error}}</p>
    {% endif %}
    <script type="text/javascript">
      function removeCloak() {
          var xhr = new XMLHttpRequest();
          xhr.open('get', window.location.protocol + "//" + window.location.host + '/mineonline/removecloak.jsp?sessionId={{user['sessionId']}}', true);
          xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
          xhr.send();
          location.reload();
      }
    </script>
    Skin:<br/>
    <div style="height: 64px;">
      <img src="/mineonline/player/{{user.uuid}}/skin" width="64" onerror="this.style.opacity='0'" style="float:left;" /><input type="file" id="file" name="file">
    </div>
    <br/><br/>
    Cloak:<br/>
    <img src="/mineonline/player/{{user.uuid}}/cloak" width="64" height="32" onerror="this.style.opacity='0'" style="float:left;" /><input type="file" id="cloak" name="cloak"> <button type="button" onclick="removeCloak()">Remove</button><br/><br/>
    Model:<br/>
    <select name="slim" id="slim">
      <option value="false" {% if not user["slim"] %}selected{% endif %}>Steve</option>
      <option value="true" {% if user["slim"] %}selected{% endif %}>Alex</option>
      </select>
    <br/><br/>
    <button>Submit</button>
  </form>
  <br/><br/>
</div>

{% endblock %}